<ul class="mobile-tasks__list">
	<template id="mobileTasks">
		<li class="mobile-tasks__item">
			<ul class="mobile-task__list">
				<li class="mobile-task__item _name">
					<p class="mobile-task__text _name">{{Name}}</p>
				</li>
				<li class="mobile-task__item _status">
					<p class="mobile-task__text _status">{{Status}}</p>
				</li>
				<li class="mobile-task__item _date">
					<p class="mobile-task__text _date">{{Date}}</p>
				</li>
				<li class="mobile-task__item _time">
					<p class="mobile-task__text _time">{{Time}}</p>
				</li>
				<li class="mobile-task__item _author">
					<p class="mobile-task__text _author">{{Author}}</p>
				</li>
				<li class="mobile-task__item _more">
					<p>More</p>
				</li>
			</ul>
		</li>
	</template>
</ul>